<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
	<meta http-equiv="Content-Language" content="zh-CN" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />	
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/aliceUI1.0.0.css">
	<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.validate.js"></script> 	 	
	<title>Home&nbsp;金桥物业</title>
</head>
<body>
	<div class="headWrap">
		<div class="head clearfix">
			<div class="logo">上海新金桥设施管理有限公司</div>	
			<div class="login">
				#if($token=="checked")
					欢迎：$userInfo.name&nbsp;&nbsp;&nbsp;&nbsp
					<a id="logoff" href="#" resource="user/logout.do">注销</a>
				#else
					<a id="login" href="#" resource="">登录</a>
				#end
			</div>
		</div>	
	</div>	
	<div class="Navwrap">
		<div class="Nav">
		<a id="homebtn" resource="" href="#">首页</a><a id="menubtn" resource="" href="#">功能区</a><a id="aboutbtn" resource="" href="#">关于我们</a>
		<span class="info">$today</span>
		</div>
	</div>	
	<div class="TopWrap"><div class="topNav"><img src="images/top.png" height="100px" width="1000px"/></div></div>
	<div class="contentwrap">
	</div>	
	<div class="footerwrap">
		<div class="copyright">
			&copy上海新金桥设施管理有限公司 版权所有
		</div>	
	</div>
	<div id="logindiv" class="hide">
		<div class='titleBar'>用户登录</div>
		<div class='u_login_message'>&nbsp;</div>
		<div class='u_login'>用户名<input class='u_input' id='userName' name='userName' type='text'/></div>
		<div class='u_login'>密码<input class='u_input' id='password' name='password' type='password'/></div>
		<div class='u_login_btn'><a id='loginbtn' resource='user/login.do' href='#' class='ui-button ui-button-lorange'>登录</a></div>
		<div class='u_login'><a id='newAccountbtn' resource='user/userInput.do' href='#'>注册新账户</a></div>
	</div>
	<div id="homediv" class="hide">
		<div class="titleBar">政策文件</div>
		<div class="list">
			<div><img src="images/loading.gif"/>加载中...</div>
			<span class="listItem"><a href="#">上海新金桥设施管理有限公司系统上线通知</a></span>
		</div>
		<div class="titleBar">通知</div>
		<div class="list">
			<div><img src="images/loading.gif"/>加载中...</div>
			<span class="listItem"><a href="#">上海新金桥设施管理有限公司系统上线通知</a></span>
		</div>
		<div class="titleBar">最新活动</div>
		<div class="list">
			<div><img src="images/loading.gif"/>加载中...</div>
			<span class="listItem"><a href="#">上海新金桥设施管理有限公司系统上线通知</a></span>
		</div>
	</div>
	<div id="menudiv" class="hide">
		<div class="layout">
			<div class="menuLeft">
				#foreach($menu in $menuInfo)
					#if($curr!=$menu.supMenu)
						<div name="$menu.supMenu" class="menuOne">$menu.supMenu</div> 
					#end
						<div name="sub_$menu.supMenu" class="menuTwo"><a name="submenubtn" href="#" resource="$menu.resouce">$menu.menuName</a></div>
				  #set($curr=$menu.supMenu)
				#end				
			</div>
			<div class="menuRight">
			 内容
			</div>
		</div>
	</div>
	<div id="aboutdiv" class="hide">
		<div class="titleBar">关于我们</div>
		<div class="list">
			<div  class="about">
上海新金桥设施管理有限公司属于上海金桥（集团）有限公司的全资子公司，注册资金505万元人民币。公司前身是上海新金桥物业管理有限公司，第一批国家一级资质物业单位。中国物业管理协会会员单位，上海市物业管理协会理事单位，上海市优秀物业管理企业。公司立足金桥开发区，专业从事管理各类开发区的工业厂房、办公楼宇等物业，为各类中外知名企业提供优质的物业管理服务。    上海新金桥设施管理有限公司目前为国家二级物业管理资质企业，多年来，公司致力于探求专业化，规范化的管理途径。2001年底顺利通过ISO14001／9001环境和质量双体系的认证评审，以不断实现规范化、科学化、人性化管理。2005年公司建立OA（办公自动化）系统，实现远程网络传输，各项管理工作更加规范、高效。    目前公司拥有大量的高学历、高资质、具备丰富经验的管理人才，工业厂区的保安、办公楼宇的保洁、设备设施专业化管理是我公司的强项。公司紧密围绕ISO14001环境管理体系与ISO9001质量体系为轴心开展工作，使企业在社会市场领域中具有强大的竞争力，为实现规模化发展奠定扎实的基础。公司正以多元化服务为中心，利用科学化的决策、标准化的管理、社会化的服务，再创新一轮的辉煌。    公司秉承“高效、廉洁、规范、共赢”的经营理念；做强、做精、做大工业厂房、物流仓储、公共物业、高档住宅物业，不断提高设施管理专业水平，为客户提供更加高效、便捷、优质的服务。 			
			</div>
		</div>	
	</div>
</body>
<script type="text/javascript">
jQuery(document).ready(function(){  
   jQuery("#logoff").click(function(){
		if(confirm("确定要退出？")){
			jQuery.post(this.resource,function(data){
				window.location.reload();
			});
		}
   });
   jQuery("#homebtn").click(function(){
		jQuery(".contentwrap").html(jQuery("#homediv").html());
		jQuery(".menuOne").live("click",function(){
			sub_name = "sub_"+this.name;
			jQuery("DIV[name="+sub_name+"]").toggle();
		});		
		jQuery(".menuTwo >a").live("click",function(){
			jQuery(".menuRight").html("<img src='images/loading.gif'/>");
			jQuery.post("notice/queryNoticeList.do",
						function(data){
						jQuery(".menuRight").html(data);
						});
		});
		
   })
   jQuery("#aboutbtn").click(function(){
		jQuery(".contentwrap").html(jQuery("#aboutdiv").html());
   })
   jQuery("#menubtn").click(function(){
		jQuery(".menuRight").html("");
		jQuery(".contentwrap").html(jQuery("#menudiv").html());
   })
   jQuery("#newAccountbtn").live("click",function(){
		jQuery(".contentwrap").html("<div><img src='images/loading.gif'/>加载中...</div>");
		jQuery.post(this.resource,function(data){
						jQuery(".contentwrap").html(data);
					})
   })
   jQuery("#login").click(function(){
		jQuery(".contentwrap").html(jQuery("#logindiv").html());
		jQuery(".u_login_message").html("");
		jQuery("#loginbtn").live("click",function(){
				jQuery(".u_login_message").html("");
				u = jQuery("#userName").attr("value");
				p = jQuery("#password").attr("value");
				if(p==""||u==""){
					jQuery(".u_login_message").html("用户名/密码不能为空!");
					return;
				}else{
					jQuery(".u_login_message").html('<img src="images/loading.gif"/>身份验证...');
					jQuery.post(this.resource,{userName:u,password:p},function(data){
						var obj = eval ("(" + data + ")");
						if(obj.status=="ok"){
							jQuery(".u_login_message").html(obj.result);
							window.location.reload();
							return;
						}else{
							jQuery(".u_login_message").html(obj.result);
							return;
						}
					})
				}
		})
   });

	jQuery("#homebtn").click();
});
</script>
</html>