<div class='titleBar'>用户注册</div>
<div class="userRegist">
	<form class="ui-form ui-form-large" name="" method="post" action="#" id="">
		<fieldset> <legend>表单标题</legend> 
			<div class="ui-form-item"> <label for="userName" class="ui-label"> 
				<span class="ui-form-required">*</span>用户名 </label> 
				<input name="userName" id="userName" class="ui-input" type="text">
			</div> 
			<div class="ui-form-item"> 
				<label for="password" class="ui-label">
				<span class="ui-form-required">*</span>密码</label> 
				<input name="password" id="password" class="ui-input ui-input-large" type="password"> 
			</div>
			<div class="ui-form-item"> 
				<label for="re_password" class="ui-label">
				<span class="ui-form-required">*</span>确认密码</label> 
				<input name="re_password" id="re_password" class="ui-input ui-input-large" type="password"> 
			</div> 			
			<div class="ui-form-item"> 
				<input type="submit" class="ui-button ui-button-lorange" value="确定">
			</div> 
		</fieldset> 
	</form> 
</div>
<script language="javascript">
	jQuery(document).ready(function(){
		 
	})
</script>